{% extends 'base.html.twig' %}

{% block title %}Mon compte - WR{% endblock %}

{% block body %}

    <h1 class="bandeau">Mon compte</h1>

    <div class="container">
        <div id="account" class="row">
            <div class="connexion col-12 col-md-6">
                {% include './security/login.html.twig' %}
            </div>
            <div class="register col-12 col-md-6">
                {{ render(controller(
                    'App\\Controller\\AccountController::register')
                ) }}
            </div>
        </div>
    </div>

{% endblock %}
