{% extends 'base.html.twig' %}

{% block title %}Edit Domain{% endblock %}

{% block body %}
    <h1>Edit Domain</h1>

    {{ include('domain/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('domain_index') }}">back to list</a>

    {{ include('domain/_delete_form.html.twig') }}
{% endblock %}
