{% extends 'base.html.twig' %}

{% block title %}Mot de passe oublié{% endblock %}

{% block body %}
    {% for flashError in app.flashes('reset_password_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}
    <h1>Réinitialisez votre mot de passe</h1>

    {{ form_start(requestForm) }}
        {{ form_row(requestForm.email) }}
        <div>
            <small>
                Entrez votre adresse e-mail et vous recevrez un
                lien pour réinitialiser votre mot de passe.
            </small>
        </div>

        <button class="btn btn-primary">Réinitialisez votre mot de passe</button>
    {{ form_end(requestForm) }}
{% endblock %}
