{% extends 'base.html.twig' %}

{% block title %}Mot de passe oublié{% endblock %}

{% block body %}

    <h1 class="bandeau">Réinitialisez votre mot de passe</h1>

    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                {% for flashError in app.flashes('reset_password_error') %}
                    <div class="alert alert-danger" role="alert">{{ flashError }}</div>
                {% endfor %}

                {{ form_start(requestForm) }}
                    {{ form_row(requestForm.email) }}
                    <div>
                        <small>
                            Entrez votre adresse e-mail et vous recevrez un
                            lien pour réinitialiser votre mot de passe.
                        </small>
                    </div>

                    <button class="btn btn-white">
                        Réinitialisez votre mot de passe
                        <i class="far fa-caret-square-right"></i>
                    </button>
                {{ form_end(requestForm) }}

            </div>
        </div>
    </div>

{% endblock %}
