{% extends 'base.html.twig' %}

{% block title %}Edit Exercise{% endblock %}

{% block body %}
    <h1>Edit Exercise</h1>

    {{ include('exercise/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('exercise_index') }}" class="btn btn-white w-100">Retour en arrière</a>

    {{ include('exercise/_delete_form.html.twig') }}
{% endblock %}
