<form method="post" action="{{ path('session_delete', {'id': session.id}) }}" onsubmit="return confirm('Êtes-vous sûr de bien vouloir supprimer cette séance ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ session.id) }}">
    <button class="btn btn-white w-100">Supprimer la séance</button>
</form>
