{% extends 'base.html.twig' %}

{% block title %}Ma séance{% endblock %}

{% block body %}

    <div id="end" class="d-none">
        <h1 class="bandeau p-5">Bravo vous avez fini !</h1>
    </div>

{% endblock %}
