{% extends 'base.html.twig' %}

{% block title %}Nouvelle séance{% endblock %}

{% block body %}
    <h1>Créer une nouvelle séance</h1>

    {{ include('session/_form.html.twig') }}

    <a href="{{ path('session_index') }}" class="btn btn-white w-100">Retour en arrière</a>
{% endblock %}
