{% extends 'base.html.twig' %}

{% block title %}Mentions Légales{% endblock %}

{% block body %}

    <h1 class="bandeau">Crédits photos</h1>

    <div class="container">
        <div class="row">
            <div class="col-12">
                <p>
                    Les photos ont été récupèrer sur des sites de photo, elles sont en accès gratuit,
                    pour certaines photos il suffit de citer l'auteur et de partager son travail, vous aurez le détail ci-dessous
                </p>
            </div>
        </div>
    </div>

{% endblock %}
