{% extends 'base.html.twig' %}

{% block title %}Crédits photos{% endblock %}

{% block body %}

    <h1 class="bandeau">Crédits photos</h1>

    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2>Upklyak</h2>
                <p>
                    Je m'en suis servi pour la création de mon
                    <a href='//fr.freepik.com/vecteurs-libre/animal-drole-personnage-dessin-anime-mignon-tigre-cub_16646754.htm#page=12&query=animal&position=27'
                       target="_blank">
                        logo
                    </a>.
                    Vous le retrouverez sur Freepik, un site de ressources photos et d'illustrations partiellement gratuites.
                    <br>
                    <a href='//fr.freepik.com/upklyak' target="_blank">Compte de upklyak - fr.freepik.com</a>
                </p>
                <h2>Pch.Vector</h2>
                <p>
                    La plupart de mes illustrations me viennent de lui, je vous mets les liens ci-dessous ci cela vous intéresse.
                </p>
                <ul>
                    <li>
                        <a href='//fr.freepik.com/vecteurs-libre/modele-flyer-heureux-fille-peau-sombre-faisant-exercices_12929211.htm'
                           target="_blank">
                            Une femme dynamique et sportive.
                        </a>
                    </li>
                    <li>
                        <a href='//fr.freepik.com/vecteurs-libre/femme-aidant-amie-cerceau-pour-former-corps_12291376.htm#page=5&query=sport&position=39'
                           target="_blank">
                            Des amies ensembles.
                        </a>
                    </li>
                    <li>
                        <a href='//fr.freepik.com/vecteurs-libre/foule-gens-pratiquant-activites-profitant-loisirs-dans-rue-pres-du-parc-ville_11235309.htm'
                           target="_blank">
                            Un homme courant
                        </a>
                    </li>
                </ul>
                <p>
                    Vous le retrouverez aussi sur Freepik.
                    <br>
                    <a href='//fr.freepik.com/pch-vector' target="_blank">Compte de pch.vector - fr.freepik.com</a>
                </p>
                <h2>Nik Shuliahin</h2>
                <p>
                    Photo par
                    <a href="https://unsplash.com/@tjump?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">
                        Nik Shuliahin
                    </a>.
                </p>
                <ul>
                    <li>
                        <a href='//unsplash.com/photos/GYIrlzclc8g' target="_blank">
                            Photo
                        </a>
                    </li>
                </ul>
                <p>
                    Vous le retrouverez sur
                    <a href="//unsplash.com/?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">
                        Unsplash
                    </a>.
                </p>
                <h2>Bruce Mars</h2>
                <p>
                    Photo par
                    <a href="//unsplash.com/@brucemars?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">
                        Bruce Mars
                    </a>
                </p>
                <ul>
                    <li>
                        <a href='//unsplash.com/photos/HHXdPG_eTIQ' target="_blank">
                            Photo
                        </a>
                    </li>
                </ul>
                <p>
                    Vous le retrouverez aussi sur
                    <a href="//unsplash.com/?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">
                        Unsplash
                    </a>.
                </p>
            </div>
        </div>
    </div>

{% endblock %}
