{% extends 'base.html.twig' %}

{% block title %}Mentions Légales{% endblock %}

{% block body %}

    <h1 class="bandeau">Mentions Légales</h1>

    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2>Informations</h2>
                <p>Société Warrior Relax : 82700 Montech</p>
                <h2>Directeur de la publication</h2>
                <p>Justine Gonzalvo</p>
                <h2>Hébergeur</h2>
                <p>Aucun</p>
                <h2>Conception et réalisation</h2>
                <p>Le site a été créé par Justine Gonzalvo, alternante à la 3WAcademy et chez Periwinkle</p>
            </div>
        </div>
    </div>

{% endblock %}
