body {
  font-family: 'Lora', serif;
  background-color: $primary;
  font-size: 16px;
}

h1, h2, h3, h4, h5, h6, a {
  font-family: 'Calistoga', cursive;
}

h2 {
  font-size: 1.75rem;
  color: $secondary;
}

p {
  font-size: 1rem;
}

a.nav-item, a {
  color: $secondary;
  text-decoration: none;
}

//Button
//----------------------------------------------------------------------------------------------------------------------
.btn-white {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  color: $secondary;
  border-radius: 2rem;
  box-shadow: 0 3px 6px #00000029;
  padding: .75rem;
  margin-top: 2rem;
  text-transform: uppercase;
  &:hover {
    color: #00144D99;
  }
  i {
    font-size: 1.75rem;
    padding-left: 1rem;
  }
}
button {
  font-family: "Calistoga", cursive;
  margin: 0 auto;
}

//Page style
//----------------------------------------------------------------------------------------------------------------------
.bandeau {
  background: #000000;
  color: #ffffff;
  text-align: center;
  padding: .5rem;
  margin-top: 1rem;
  margin-bottom: 2.5rem;
  font-size: 1.75rem;
  &.desktop {
    display: none;
  }
}
.bandeau-title {
  background: #00144D99;
  display: flex;
  justify-content: center;
  left: 0;
  right: 0;
  color: #ffffff;
  padding: .5rem;
  font-size: 1.5rem;
}
.blockOne {
  background-color: #00144D99;
  color: white;
  padding: 1.5rem 1rem;
  margin-top: 2rem;
  text-align: center;
  h2 {
    font-size: 1.5rem;
    text-decoration: underline;
    padding-bottom: 1rem;
    color: #ffffff;
  }
  p {
    margin: 0;
  }
}
.blockTwo {
  background-color: white;
  color: $secondary;
  padding: 1.5rem 1rem;
  margin-top: 2rem;
  text-align: center;
  h2 {
    font-size: 1.5rem;
    text-decoration: underline;
    padding-bottom: 1rem;
  }
  p {
    margin: 0;
  }
}

@media (min-width: 1024px) {
  .bandeau.desktop {
    display: block;
  }
  .btn-white {
    display: inline-flex;
    padding: 0.75rem 1.5rem;
  }
  .content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    p {
      line-height: 2.5rem;
    }
  }
}