// Menu cart
//----------------------------------------------------------------------------------------------------------------------
#cart {
  position: absolute;
  top: 0;
  left: 0;
  #link-cart {
    background-color: #00144D99;
    border-radius: 0 0 1rem 0;
    i {
      font-size: 1.5rem;
    }
    .mobile {
      display: none;
    }
  }
}

// Page cart
//----------------------------------------------------------------------------------------------------------------------
h1.create-session input {
  font-size: 1.5rem;
  padding: .25rem 1rem!important;
  margin: 0!important;
  width: 100%;
}
#cart-page, #cart-edit {
  > .row {
    display: flex;
    flex-direction: row-reverse;
  }
  .mobile {
    display: none;
  }
  button {
    display: flex;
    justify-content: center;
    align-items: center;
    &:before {
      padding: 0;
    }
  }
  button#cart_save, button#cart_clear {
    border-radius: 2rem;
    margin-left: 1rem;
  }
  .card-header {
    background-color: #00144D99;
    justify-content: space-between;
    border-radius: 0;
    margin-bottom: 1rem;
    h2 {
      display: flex;
      align-items: center;
      margin: 0;
    }
  }
  .list-group-item {
    margin-top: .5rem;
    justify-content: center;
    align-items: center;
    border-radius: 5rem;
    padding: .5rem 2rem;
    .cart-img {
      border-right: 1px solid $secondary;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    h3 {
      font-size: 1rem;
    }
    .form-group {
      display: flex;
      input[type="number"] {
        margin: 0!important;
        background-color: $primary!important;
        padding: 0!important;
      }
      button[type="submit"] {
        padding: 0;
        border: 0;
        background-color: transparent;
        color: #000000;
      }
    }
    .block-content {
      display: flex;
      flex-direction: column;
      align-self: center;
    }
  }
  .card {
    border: 0;
    .card-body {
      .list-group-item {
        margin-top: 0;
        padding-left: 0;
        border-radius: 0;
      }
    }
  }
  // Manager time
  .time {
    div {
      display: flex;
      select {
        padding: 0!important;
        margin: 0!important;
      }
    }
  }
}
#add_to_cart_time_hour, #cart_items_0_time_hour, #cart_items_1_time_hour, #cart_items_2_time_hour,
#cart_items_3_time_hour, #cart_items_4_time_hour, #cart_items_5_time_hour, #cart_items_6_time_hour,
#cart_items_7_time_hour, #cart_items_8_time_hour, #cart_items_9_time_hour, #cart_items_10_time_hour,
#cart_items_11_time_hour, #cart_items_12_time_hour, #cart_items_13_time_hour, #cart_items_14_time_hour,
#cart_items_15_time_hour {
  display: none;
}

#add_to_cart_add {
  margin-top: .5rem!important;
}

#launch {
  display: flex;
  justify-content: space-around;
  position: fixed;
  bottom: 102px;
  left: 0;
  right: 0;
  color: #ECECEC;
  z-index: 100;
  .link {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    text-align: center;
    opacity: .5;
    font-size: .9rem;
    padding: .5rem;
    i {
      font-size: 1.25rem;
    }
    a {
      display: flex;
      flex-direction: column;
      color: #ECECEC;
    }
  }
}

@media (min-width: 768px) {
  h1.create-session input {
    width: 60%;
  }
  #cart {
    #link-cart {
      .mobile {
        display: flex;
      }
    }
  }
  #cart-page, #cart-edit {
    .cart-img img {
      width: 90px;
    }
    .mobile {
      display: block;
    }
    .card-header .mobile {
      display: flex;
    }
    .list-group-item {
      justify-content: flex-start;
      margin-top: 1rem;
      border-radius: 0;
    }
  }

  #launch {
    display: none;
  }
}

@media (min-width: 1024px) {
  h1.create-session input {
    width: 30%;
  }
  #cart-page, #cart-edit {
    .cart-img img {
      width: 150px;
    }
  }
}