#category_others {
  #chooseOne, #chooseTwo {
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 200px;
    background-size: contain;
    position: relative;
    margin-top: 1rem;
  }
  #chooseOne {
    background-image: url("../../images/category_others/chooseOne.png");
  }
  #chooseTwo {
    background-image: url("../../images/category_others/chooseTwo.png");
  }
}

.slick-slide {
  &:not(.slick-center) {
    .slider {
      z-index: 0;
    }
    img {
      filter: grayscale(100%)!important;
      -ms-transform: scale(.9)!important;
      transform: scale(.9)!important;
      transition-duration: 500ms;
      width: 100%!important;
    }
    .content {
      -ms-transform: scale(.9)!important;
      transform: scale(.9)!important;
      transition-duration: 500ms;
    }
  }
  .slider {
    z-index: 5;
    position: relative;
    margin-top: -2rem;
    margin-bottom: -2rem;
    .content {
      position: absolute;
      left: 0;
      right: 0;
      top: 50%;
    }
  }
  img {
    width: 100%!important;
    height: auto;
  }
}

@media (min-width: 768px) {
  .slick-slide {
    &:not(.slick-center) {
      img {
        -ms-transform: scale(.8)!important;
        transform: scale(.8)!important;
        transition-duration: 500ms;
      }
      .content {
        -ms-transform: scale(.8)!important;
        transform: scale(.8)!important;
        transition-duration: 500ms;
      }
    }
  }
  img {
    padding-left: 1rem!important;
    padding-right: 1rem!important;
  }
  .slider {
    .content {
      margin-left: 1rem!important;
      margin-right: 1rem!important;
    }
  }
}

@media (min-width: 1024px) {
  #category_others {
    #chooseOne, #chooseTwo {
      height: 325px;
      background-size: cover;
    }
  }
}