{% extends 'base.html.twig' %}

{% block title %}Choix des séances complètes{% endblock %}

{% block body %}

    <h1 class="bandeau desktop">Choissisez votre séance</h1>

    <div class="container">
        <div id="category_others" class="row">
            <div class="col-12 col-md-6">
                <a href="{{ path('category_index') }}">
                    <div id="chooseOne">
                        <h2 class="bandeau-title">Les séances complètes</h2>
                    </div>
                </a>
            </div>
            <div class="col-12 col-md-6">
                <div id="chooseTwo">
                    <h2 class="bandeau-title">Les séances des autres</h2>
                </div>
            </div>
        </div>
        <a href="{{ path('test') }}" class="btn btn-white">
            Autres choix
            <i class="far fa-caret-square-right"></i>
        </a>

        <a href="{{ path('app_account_login') }}" class="btn btn-white">
            Créer votre compte
            <i class="far fa-caret-square-right"></i>
        </a>
    </div>

{% endblock %}
