{% extends 'base.html.twig' %}

{% block body %}
    {% if is_granted('ROLE_ADMIN') %}
        <p>Vous êtes connecté en tant qu'administrateur</p>
    {% elseif is_granted('ROLE_USER') %}
        <p>Vous êtes connecté en tant d'utilisateur</p>
    {% endif %}
    <a href="{{ path('app_logout') }}">Déconnexion</a>
{% endblock %}
