<header>
    <a href="{{ path('app_home') }}">
        <img src="{{ asset('build/images/logo/logo_mobile.svg') }}" alt="Logo Warrior Relax" class="logo_mobile" width='80'/>
    </a>
    <a href="{{ path('app_home') }}">
        <img src="{{ asset('build/images/logo/Logo.svg') }}" alt="Logo Warrior Relax" class="logo" width='150'/>
    </a>
    <div id="nav"></div>
</header>

